nav {
    text-align: right;
}
/* 
*{
    border: 1px solid green;
} */

.free {
    margin-right: 10px;
} main{
    text-align: center;
    margin-top: 50px;
}
a {
    text-decoration: none;
   color : black;
}
 a:hover {
     text-decoration: underline;
    color: black;
} 
button {
    background-color: #f8f9fa;
    margin-right: 10px;
    margin-top: 20px;
    text-transform: capitalize;
    border: 1px solid #f8f9fa;
}

button:hover {
    border: 1px solid #dadce0;
}
.green {
    border: 1px solid #dfe1e5;
    border-radius: 24px; 
    width: 500px;
    /* height: 20px; */
    /* margin-left: 300px; */
    margin: 0 auto;
    padding: 10px 0;

}
input  {
  
    border: none;
    width: 400px;
}
input:focus {
    outline: none;
}

.fa-search {
    margin-right: 20px;

}

.fa-microphone {
    margin-left: 10px;
    width: 0px;
}

    /* .green {
        background-color: honeydew;\
        height: 44px; */ */


.yashil {
    color:black;
}

a {
    color: black;
}
 
.blue {
    color: blueviolet;
}

.blue:hover {
    color: blue;

}


main {
    margin-bottom:70px ;
}

.color {
    background-color: #f2f2f2;

} 
.color a {
    color: #70757a;
    padding: 0px 20px;
    font-size: 14px;
    color: #0000008A;

}

.reset {
    border-bottom: 1px solid #dfe1e5;
    padding: 15px 30px;
    font-size: 15px;
    color: #0000008A;
}

.clas {
    float:right
}